<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerServlet</servlet-name>
        <servlet-class>controller.RetailerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumerServlet</servlet-name>
        <servlet-class>controller.ConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodItemServlet</servlet-name>
        <servlet-class>controller.UpdateFoodItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodItemServlet</servlet-name>
        <servlet-class>controller.AddFoodItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharityServlet</servlet-name>
        <servlet-class>controller.CharityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>RetailerServlet</servlet-name>
        <url-pattern>/RetailerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodItemServlet</servlet-name>
        <url-pattern>/UpdateFoodItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumerServlet</servlet-name>
        <url-pattern>/ConsumerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodItemServlet</servlet-name>
        <url-pattern>/AddFoodItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharityServlet</servlet-name>
        <url-pattern>/CharityServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
